
* { 
  font-family: "Montserrat", sans-serif; 
  font-weight: 600
}
.no-border {
  border-collapse: collapse;
}

.square {
  width: 83px;
  height: 83px;
}

#app{
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: rgb(128, 128, 128);
}

.light {
  background-color: #FFCE9E;
}

.dark {
  background-color: #D18B47;
}

.maincontainer {
  background-image: url("./assets/chessboard-pattern-light.png");
  height: 140vh;
  width: 100vw;
  background-size: cover;
  background-repeat: repeat;
}

.title {
  font-family: 'bungee'
}

header {
  background-color: white;
  vertical-align: bottom;
}

.homeGameButton {
  font-size: 20px;
  color: red;
}

#home {
  margin-left: 0;
  float: left;
}