

.no-border {
  border-collapse: collapse;
}

.square {
  width: 83px;
  height: 83px;
}

#app{
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: gray;
}

.light {
  background-color: #FFCE9E;
}

.dark {
  background-color: #D18B47;
}

.maincontainer {
  /* background-image: url("./assets/chessboard-pattern-light.png"); */
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.title {
  font-family: 'bungee'
}

@font-face {
  font-family: 'Bungee';
  src: local('Bungee'), url('./Fonts/Bungee-Regular.ttf'), format('truetype');
