#checkersboard {
  display:grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 800px;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}


