.tile {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
}
.tile .checkerpiece{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}

.tile .checkerpiece:hover{
  cursor: grab;
}

.tile .checkerpiece:active{
  cursor: grabbing;
}


.red-tile{
  background-color: white;
}

.black-tile{
  background-color: green;
}

.tile .image {
  width: 70;
}