.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}
.tile .checkerpiece{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.tile .checkerpiece:hover{
  cursor: grab;
}

.tile .checkerpiece:active{
  cursor: grabbing;
}


.red-tile{
  background-color: rgb(255, 255, 255);
}

.black-tile{
  background-color: rgba(0, 62, 123, 0.947);
}

.tile .image {
  width: 70;
}